In [1]:
import numpy as np
import pandas as pd
from scipy.stats import shapiro
import scipy.stats as stats
from utils import AB_test
import warnings

warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv("after_prep.csv", parse_dates=["date"])
df = df.drop(columns="Unnamed: 0")
df.head()

,date,store_nbr,family,id,sales,onpromotion,transactions,oil_price,work_day,L Cantonizacion de Cayambe,...,N Independencia de Guayaquil,N Navidad,N Primer Grito de Independencia,N Primer dia del ano,N Terremoto Manabi,N Viernes Santo,city,state,type,cluster
0,2013-01-01,1,AUTOMOTIVE,0.0,NaN,NaN,0.0,93.14,0,0,...,0,0,0,1,0,0,Quito,Pichincha,D,13
1,2013-01-01,1,BABY CARE,1.0,NaN,NaN,0.0,93.14,0,0,...,0,0,0,1,0,0,Quito,Pichincha,D,13
2,2013-01-01,1,BEAUTY,2.0,NaN,NaN,0.0,93.14,0,0,...,0,0,0,1,0,0,Quito,Pichincha,D,13
3,2013-01-01,1,BEVERAGES,3.0,NaN,NaN,0.0,93.14,0,0,...,0,0,0,1,0,0,Quito,Pichincha,D,13
4,2013-01-01,1,BOOKS,4.0,NaN,NaN,0.0,93.14,0,0,...,0,0,0,1,0,0,Quito,Pichincha,D,13

In [3]:
train = df[df["date"] < "2017-08-16"]
test = df[df["date"] >= "2017-08-16"]

In [15]:
#A/B Testing

cols = train.columns[train.columns.str.startswith("N ")].tolist() + train.columns[train.columns.str.startswith("R ")].tolist() + train.columns[train.columns.str.startswith("L ")].tolist()+ train.columns[train.columns.str.startswith("work_day")].tolist()
ab = []
for i in cols:
    ab.append(AB_test(dataframe=train, group = i, target = "sales"))
ab = pd.concat(ab)
ab

,Feature,p-value,Hypothesis,Comment,GroupA_mean,GroupB_mean,GroupA_median,GroupB_median
0,N Batalla de Pichincha,NaN,Reject H0,A/B groups are not similar,391.726745,358.725290,12.0,NaN
0,N Black Friday,NaN,Reject H0,A/B groups are not similar,363.360708,358.815442,17.0,NaN
0,N Carnaval,NaN,Reject H0,A/B groups are not similar,332.882573,358.978983,10.0,NaN
0,N Cyber Monday,NaN,Reject H0,A/B groups are not similar,436.220250,358.685031,17.0,NaN
0,N Dia de Difuntos,NaN,Reject H0,A/B groups are not similar,431.034644,358.607889,16.0,NaN
0,N Dia de la Madre,NaN,Reject H0,A/B groups are not similar,397.836026,358.589827,13.0,NaN
0,N Dia del Trabajo,NaN,Reject H0,A/B groups are not similar,481.446180,358.457324,13.0,NaN
0,N Futbol,NaN,Reject H0,A/B groups are not similar,310.965144,359.225956,5.0,NaN
0,N Independencia de Cuenca,NaN,Reject H0,A/B groups are not similar,477.446607,358.540298,13.0,NaN
0,N Independencia de Guayaquil,NaN,Reject H0,A/B groups are not similar,430.354990,358.652750,16.0,NaN
0,N Navidad,NaN,Reject H0,A/B groups are not similar,548.660145,356.535110,NaN,NaN
0,N Primer Grito de Independencia,NaN,Reject H0,A/B groups are not similar,370.525350,358.788613,13.0,NaN
0,N Primer dia del ano,NaN,Reject H0,A/B groups are not similar,511.117375,358.271307,NaN,NaN
0,N Terremoto Manabi,NaN,Reject H0,A/B groups are not similar,494.904072,356.263924,23.0,NaN
0,N Viernes Santo,NaN,Reject H0,A/B groups are not similar,292.693438,359.021074,9.0,NaN
0,R Provincializacion Santa Elena,NaN,Reject H0,A/B groups are not similar,380.302748,358.772272,13.0,NaN
0,R Provincializacion de Cotopaxi,NaN,Reject H0,A/B groups are not similar,427.235778,358.619235,10.0,NaN
0,R Provincializacion de Imbabura,NaN,Reject H0,A/B groups are not similar,351.523073,358.845367,12.0,NaN
0,R Provincializacion de Santo Domingo,NaN,Reject H0,A/B groups are not similar,387.774727,358.754429,12.0,NaN
0,L Cantonizacion de Cayambe,NaN,Reject H0,A/B groups are not similar,367.959454,358.796276,15.0,NaN
0,L Cantonizacion de El Carmen,NaN,Reject H0,A/B groups are not similar,424.582172,358.627161,15.0,NaN
0,L Cantonizacion de Guaranda,NaN,Reject H0,A/B groups are not similar,323.335566,358.929555,9.0,NaN
0,L Cantonizacion de Latacunga,NaN,Reject H0,A/B groups are not similar,351.523073,358.845367,12.0,NaN
0,L Cantonizacion de Libertad,NaN,Reject H0,A/B groups are not similar,286.318917,359.040113,7.0,NaN
0,L Cantonizacion de Quevedo,NaN,Reject H0,A/B groups are not similar,347.639162,358.850270,11.0,NaN
0,L Cantonizacion de Riobamba,NaN,Reject H0,A/B groups are not similar,348.742134,358.853673,8.0,NaN
0,L Cantonizacion de Salinas,NaN,Reject H0,A/B groups are not similar,558.662990,358.346358,18.0,NaN
0,L Cantonizacion del Puyo,NaN,Reject H0,A/B groups are not similar,292.534443,359.021549,8.0,NaN
0,L Fundacion de Ambato,NaN,Reject H0,A/B groups are not similar,323.478641,358.907964,8.0,NaN
0,L Fundacion de Cuenca,NaN,Reject H0,A/B groups are not similar,324.684682,358.925526,9.0,NaN
0,L Fundacion de Esmeraldas,NaN,Reject H0,A/B groups are not similar,361.208111,358.816441,12.0,NaN
0,L Fundacion de Guayaquil,NaN,Reject H0,A/B groups are not similar,341.837481,358.915100,14.0,NaN
0,L Fundacion de Ibarra,NaN,Reject H0,A/B groups are not similar,375.204506,358.784446,11.0,NaN
0,L Fundacion de Loja,NaN,Reject H0,A/B groups are not similar,388.017079,358.753850,12.0,NaN
0,L Fundacion de Machala,NaN,Reject H0,A/B groups are not similar,351.523073,358.845367,12.0,NaN
0,L Fundacion de Manta,NaN,Reject H0,A/B groups are not similar,390.121840,358.730084,12.0,NaN
0,L Fundacion de Quito,NaN,Reject H0,A/B groups are not similar,436.489438,358.451751,14.0,NaN
0,L Fundacion de Riobamba,NaN,Reject H0,A/B groups are not similar,351.594644,358.845153,12.0,NaN
0,L Fundacion de Santo Domingo,NaN,Reject H0,A/B groups are not similar,424.582172,358.627161,15.0,NaN
0,L Independencia de Ambato,NaN,Reject H0,A/B groups are not similar,336.435419,358.877024,12.0,NaN
0,L Independencia de Guaranda,NaN,Reject H0,A/B groups are not similar,335.692231,358.878799,10.0,NaN
0,L Independencia de Latacunga,NaN,Reject H0,A/B groups are not similar,326.842916,358.899931,11.0,NaN
0,work_day,NaN,Reject H0,A/B groups are not similar,372.157524,358.783738,8.0,NaN

:

In [5]:
#stores don"t work on new years (except store 25,36) and christmass
train[(((train["date"].dt.month == 12) & (train["date"].dt.day == 25))| ((train["date"].dt.month == 1) & (train["date"].dt.day == 1) & (~(train["store_nbr"].isin([25,36]))))) & (train["sales"]!=0) & ~(np.isnan(train["sales"]))]

Empty DataFrame
Columns: [date, store_nbr, family, id, sales, onpromotion, transactions, oil_price, work_day, L Cantonizacion de Cayambe, L Cantonizacion de El Carmen, L Cantonizacion de Guaranda, L Cantonizacion de Latacunga, L Cantonizacion de Libertad, L Cantonizacion de Quevedo, L Cantonizacion de Riobamba, L Cantonizacion de Salinas, L Cantonizacion del Puyo, L Fundacion de Ambato, L Fundacion de Cuenca, L Fundacion de Esmeraldas, L Fundacion de Guayaquil, L Fundacion de Ibarra, L Fundacion de Loja, L Fundacion de Machala, L Fundacion de Manta, L Fundacion de Quito, L Fundacion de Riobamba, L Fundacion de Santo Domingo, L Independencia de Ambato, L Independencia de Guaranda, L Independencia de Latacunga, R Provincializacion Santa Elena, R Provincializacion de Cotopaxi, R Provincializacion de Imbabura, R Provincializacion de Santo Domingo, N Batalla de Pichincha, N Black Friday, N Carnaval, N Cyber Monday, N Dia de Difuntos, N Dia de la Madre, N Dia del Trabajo, N Futbol, N Independencia de Cuenca, N Independencia de Guayaquil, N Navidad, N Primer Grito de Independencia, N Primer dia del ano, N Terremoto Manabi, N Viernes Santo, city, state, type, cluster]
Index: []

[0 rows x 55 columns]

In [6]:
# again with local regional and national columns
df2 = df.copy()

In [7]:
local_holidays = pd.read_csv("originalni_datasetovi/local_holidays.csv", parse_dates=["date"])
regional_holidays = pd.read_csv("originalni_datasetovi/regional_holidays.csv",parse_dates=["date"])
national_holidays = pd.read_csv("originalni_datasetovi/national_holidays.csv", parse_dates=["date"])

In [8]:
local_holidays["name"] = local_holidays["local_holidays"].copy()
local_holidays = local_holidays.drop(columns=["local_holidays"])
local_holidays["local_holidays"] = 1
local_holidays2 = local_holidays.copy()
local_holidays = local_holidays.drop(columns=["name"])

regional_holidays["name"] = regional_holidays["regional_holidays"].copy()
regional_holidays = regional_holidays.drop(columns=["regional_holidays"])
regional_holidays["regional_holidays"] = 1
regional_holidays2 = regional_holidays.copy()
regional_holidays = regional_holidays.drop(columns=["name"])

national_holidays = national_holidays.drop(columns=["national_holidays"])
national_holidays["national_holidays"] = 1

In [9]:
local_holidays = local_holidays.drop_duplicates()
regional_holidays = regional_holidays.drop_duplicates()
national_holidays = national_holidays.drop_duplicates()

In [10]:
local_holidays2 = local_holidays2.drop_duplicates()
regional_holidays2 = regional_holidays2.drop_duplicates()

In [11]:
df2 = df2.merge(local_holidays, how="left", on=["date", "city"])
df2["local_holidays"]=df2["local_holidays"].fillna(0)
print(df2.shape)

df2 = df2.merge(regional_holidays, how="left", on=["date", "state"])
df2["regional_holidays"]=df2["regional_holidays"].fillna(0)
print(df2.shape)

df2 = df2.merge(national_holidays, how="left", on=["date"])
df2["national_holidays"]=df2["national_holidays"].fillna(0)
print(df2.shape)

df2["national_holidays"] = df2["national_holidays"].astype(int)
df2["regional_holidays"] = df2["regional_holidays"].astype(int)
df2["local_holidays"] = df2["local_holidays"].astype(int)
print(df2.shape)

df2.head()

(3036528, 56)
(3036528, 57)
(3036528, 58)
(3036528, 58)

,date,store_nbr,family,id,sales,onpromotion,transactions,oil_price,work_day,L Cantonizacion de Cayambe,...,N Primer dia del ano,N Terremoto Manabi,N Viernes Santo,city,state,type,cluster,local_holidays,regional_holidays,national_holidays
0,2013-01-01,1,AUTOMOTIVE,0.0,NaN,NaN,0.0,93.14,0,0,...,1,0,0,Quito,Pichincha,D,13,0,0,1
1,2013-01-01,1,BABY CARE,1.0,NaN,NaN,0.0,93.14,0,0,...,1,0,0,Quito,Pichincha,D,13,0,0,1
2,2013-01-01,1,BEAUTY,2.0,NaN,NaN,0.0,93.14,0,0,...,1,0,0,Quito,Pichincha,D,13,0,0,1
3,2013-01-01,1,BEVERAGES,3.0,NaN,NaN,0.0,93.14,0,0,...,1,0,0,Quito,Pichincha,D,13,0,0,1
4,2013-01-01,1,BOOKS,4.0,NaN,NaN,0.0,93.14,0,0,...,1,0,0,Quito,Pichincha,D,13,0,0,1

In [12]:
train2 = df2[df2["date"] < "2017-08-16"]
test2 = df2[df2["date"] >= "2017-08-16"]

In [13]:
local_holidays2.head()

        date      city                         name  local_holidays
0 2012-03-02     Manta         L Fundacion de Manta               1
1 2012-04-12    Cuenca        L Fundacion de Cuenca               1
2 2012-04-14  Libertad  L Cantonizacion de Libertad               1
3 2012-04-21  Riobamba  L Cantonizacion de Riobamba               1
4 2012-05-12      Puyo     L Cantonizacion del Puyo               1

In [14]:


cols = train2.columns[train2.columns.str.startswith("L ")].tolist()
ab_loc = []
for i in cols:
    ab_loc.append(AB_test(dataframe=train2, group = i, target = "sales", holidays=local_holidays2, local=True))
ab_loc = pd.concat(ab_loc)
ab_loc

        date      city                         name  local_holidays
0 2012-03-02     Manta         L Fundacion de Manta               1
1 2012-04-12    Cuenca        L Fundacion de Cuenca               1
2 2012-04-14  Libertad  L Cantonizacion de Libertad               1
3 2012-04-21  Riobamba  L Cantonizacion de Riobamba               1
4 2012-05-12      Puyo     L Cantonizacion del Puyo               1
        date      city                         name  local_holidays
0 2012-03-02     Manta         L Fundacion de Manta               1
1 2012-04-12    Cuenca        L Fundacion de Cuenca               1
2 2012-04-14  Libertad  L Cantonizacion de Libertad               1
3 2012-04-21  Riobamba  L Cantonizacion de Riobamba               1
4 2012-05-12      Puyo     L Cantonizacion del Puyo               1
        date      city                         name  local_holidays
0 2012-03-02     Manta         L Fundacion de Manta               1
1 2012-04-12    Cuenca        L Fundacion de Cuenca               1
2 2012-04-14  Libertad  L Cantonizacion de Libertad               1
3 2012-04-21  Riobamba  L Cantonizacion de Riobamba               1
4 2012-05-12      Puyo     L Cantonizacion del Puyo               1
        date      city                         name  local_holidays
0 2012-03-02     Manta         L Fundacion de Manta               1
1 2012-04-12    Cuenca        L Fundacion de Cuenca               1
2 2012-04-14  Libertad  L Cantonizacion de Libertad               1
3 2012-04-21  Riobamba  L Cantonizacion de Riobamba               1
4 2012-05-12      Puyo     L Cantonizacion del Puyo               1
        date      city                         name  local_holidays
0 2012-03-02     Manta         L Fundacion de Manta               1
1 2012-04-12    Cuenca        L Fundacion de Cuenca               1
2 2012-04-14  Libertad  L Cantonizacion de Libertad               1
3 2012-04-21  Riobamba  L Cantonizacion de Riobamba               1
4 2012-05-12      Puyo     L Cantonizacion del Puyo               1
        date      city                         name  local_holidays
0 2012-03-02     Manta         L Fundacion de Manta               1
1 2012-04-12    Cuenca        L Fundacion de Cuenca               1
2 2012-04-14  Libertad  L Cantonizacion de Libertad               1
3 2012-04-21  Riobamba  L Cantonizacion de Riobamba               1
4 2012-05-12      Puyo     L Cantonizacion del Puyo               1
        date      city                         name  local_holidays
0 2012-03-02     Manta         L Fundacion de Manta               1
1 2012-04-12    Cuenca        L Fundacion de Cuenca               1
2 2012-04-14  Libertad  L Cantonizacion de Libertad               1
3 2012-04-21  Riobamba  L Cantonizacion de Riobamba               1
4 2012-05-12      Puyo     L Cantonizacion del Puyo               1
        date      city                         name  local_holidays
0 2012-03-02     Manta         L Fundacion de Manta               1
1 2012-04-12    Cuenca        L Fundacion de Cuenca               1
2 2012-04-14  Libertad  L Cantonizacion de Libertad               1
3 2012-04-21  Riobamba  L Cantonizacion de Riobamba               1
4 2012-05-12      Puyo     L Cantonizacion del Puyo               1
        date      city                         name  local_holidays
0 2012-03-02     Manta         L Fundacion de Manta               1
1 2012-04-12    Cuenca        L Fundacion de Cuenca               1
2 2012-04-14  Libertad  L Cantonizacion de Libertad               1
3 2012-04-21  Riobamba  L Cantonizacion de Riobamba               1
4 2012-05-12      Puyo     L Cantonizacion del Puyo               1
        date      city                         name  local_holidays
0 2012-03-02     Manta         L Fundacion de Manta               1
1 2012-04-12    Cuenca        L Fundacion de Cuenca               1
2 2012-04-14  Libertad  L Cantonizacion de Libertad               1
3 2012-04-21  Riobamba  L Cantonizacion de Riobamba               1
4 2012-05-12      Puyo     L Cantonizacion del Puyo               1
        date      city                         name  local_holidays
0 2012-03-02     Manta         L Fundacion de Manta               1
1 2012-04-12    Cuenca        L Fundacion de Cuenca               1
2 2012-04-14  Libertad  L Cantonizacion de Libertad               1
3 2012-04-21  Riobamba  L Cantonizacion de Riobamba               1
4 2012-05-12      Puyo     L Cantonizacion del Puyo               1
        date      city                         name  local_holidays
0 2012-03-02     Manta         L Fundacion de Manta               1
1 2012-04-12    Cuenca        L Fundacion de Cuenca               1
2 2012-04-14  Libertad  L Cantonizacion de Libertad               1
3 2012-04-21  Riobamba  L Cantonizacion de Riobamba               1
4 2012-05-12      Puyo     L Cantonizacion del Puyo               1
        date      city                         name  local_holidays
0 2012-03-02     Manta         L Fundacion de Manta               1
1 2012-04-12    Cuenca        L Fundacion de Cuenca               1
2 2012-04-14  Libertad  L Cantonizacion de Libertad               1
3 2012-04-21  Riobamba  L Cantonizacion de Riobamba               1
4 2012-05-12      Puyo     L Cantonizacion del Puyo               1
        date      city                         name  local_holidays
0 2012-03-02     Manta         L Fundacion de Manta               1
1 2012-04-12    Cuenca        L Fundacion de Cuenca               1
2 2012-04-14  Libertad  L Cantonizacion de Libertad               1
3 2012-04-21  Riobamba  L Cantonizacion de Riobamba               1
4 2012-05-12      Puyo     L Cantonizacion del Puyo               1
        date      city                         name  local_holidays
0 2012-03-02     Manta         L Fundacion de Manta               1
1 2012-04-12    Cuenca        L Fundacion de Cuenca               1
2 2012-04-14  Libertad  L Cantonizacion de Libertad               1
3 2012-04-21  Riobamba  L Cantonizacion de Riobamba               1
4 2012-05-12      Puyo     L Cantonizacion del Puyo               1
        date      city                         name  local_holidays
0 2012-03-02     Manta         L Fundacion de Manta               1
1 2012-04-12    Cuenca        L Fundacion de Cuenca               1
2 2012-04-14  Libertad  L Cantonizacion de Libertad               1
3 2012-04-21  Riobamba  L Cantonizacion de Riobamba               1
4 2012-05-12      Puyo     L Cantonizacion del Puyo               1
        date      city                         name  local_holidays
0 2012-03-02     Manta         L Fundacion de Manta               1
1 2012-04-12    Cuenca        L Fundacion de Cuenca               1
2 2012-04-14  Libertad  L Cantonizacion de Libertad               1
3 2012-04-21  Riobamba  L Cantonizacion de Riobamba               1
4 2012-05-12      Puyo     L Cantonizacion del Puyo               1
        date      city                         name  local_holidays
0 2012-03-02     Manta         L Fundacion de Manta               1
1 2012-04-12    Cuenca        L Fundacion de Cuenca               1
2 2012-04-14  Libertad  L Cantonizacion de Libertad               1
3 2012-04-21  Riobamba  L Cantonizacion de Riobamba               1
4 2012-05-12      Puyo     L Cantonizacion del Puyo               1
        date      city                         name  local_holidays
0 2012-03-02     Manta         L Fundacion de Manta               1
1 2012-04-12    Cuenca        L Fundacion de Cuenca               1
2 2012-04-14  Libertad  L Cantonizacion de Libertad               1
3 2012-04-21  Riobamba  L Cantonizacion de Riobamba               1
4 2012-05-12      Puyo     L Cantonizacion del Puyo               1
        date      city                         name  local_holidays
0 2012-03-02     Manta         L Fundacion de Manta               1
1 2012-04-12    Cuenca        L Fundacion de Cuenca               1
2 2012-04-14  Libertad  L Cantonizacion de Libertad               1
3 2012-04-21  Riobamba  L Cantonizacion de Riobamba               1
4 2012-05-12      Puyo     L Cantonizacion del Puyo               1
        date      city                         name  local_holidays
0 2012-03-02     Manta         L Fundacion de Manta               1
1 2012-04-12    Cuenca        L Fundacion de Cuenca               1
2 2012-04-14  Libertad  L Cantonizacion de Libertad               1
3 2012-04-21  Riobamba  L Cantonizacion de Riobamba               1
4 2012-05-12      Puyo     L Cantonizacion del Puyo               1
        date      city                         name  local_holidays
0 2012-03-02     Manta         L Fundacion de Manta               1
1 2012-04-12    Cuenca        L Fundacion de Cuenca               1
2 2012-04-14  Libertad  L Cantonizacion de Libertad               1
3 2012-04-21  Riobamba  L Cantonizacion de Riobamba               1
4 2012-05-12      Puyo     L Cantonizacion del Puyo               1
        date      city                         name  local_holidays
0 2012-03-02     Manta         L Fundacion de Manta               1
1 2012-04-12    Cuenca        L Fundacion de Cuenca               1
2 2012-04-14  Libertad  L Cantonizacion de Libertad               1
3 2012-04-21  Riobamba  L Cantonizacion de Riobamba               1
4 2012-05-12      Puyo     L Cantonizacion del Puyo               1

,Feature,p-value,Hypothesis,Comment,GroupA_mean,GroupB_mean,GroupA_median,GroupB_median
0,L Cantonizacion de Cayambe,NaN,Reject H0,A/B groups are not similar,445.602558,504.165820,23.000000,NaN
0,L Cantonizacion de El Carmen,NaN,Reject H0,A/B groups are not similar,214.438109,196.625218,9.000000,NaN
0,L Cantonizacion de Guaranda,NaN,Reject H0,A/B groups are not similar,178.015915,231.700590,6.000000,NaN
0,L Cantonizacion de Latacunga,NaN,Reject H0,A/B groups are not similar,192.490970,188.886605,11.000000,NaN
0,L Cantonizacion de Libertad,NaN,Reject H0,A/B groups are not similar,180.356318,270.654868,0.000000,NaN
0,L Cantonizacion de Quevedo,NaN,Reject H0,A/B groups are not similar,200.778636,252.293006,9.000000,NaN
0,L Cantonizacion de Riobamba,NaN,Reject H0,A/B groups are not similar,171.422417,202.962522,4.000000,NaN
0,L Cantonizacion de Salinas,NaN,Reject H0,A/B groups are not similar,NaN,196.565876,NaN,NaN
0,L Cantonizacion del Puyo,NaN,Reject H0,A/B groups are not similar,56.501323,70.743903,0.000000,NaN
0,L Fundacion de Ambato,NaN,Reject H0,A/B groups are not similar,325.854186,357.670379,19.500000,NaN
0,L Fundacion de Cuenca,NaN,Reject H0,A/B groups are not similar,263.715962,292.620626,6.000000,NaN
0,L Fundacion de Esmeraldas,NaN,Reject H0,A/B groups are not similar,313.340643,291.519226,9.000000,NaN
0,L Fundacion de Guayaquil,NaN,Reject H0,A/B groups are not similar,262.498395,272.978451,8.000000,NaN
0,L Fundacion de Ibarra,NaN,Reject H0,A/B groups are not similar,217.995348,205.046567,6.000000,NaN
0,L Fundacion de Loja,NaN,Reject H0,A/B groups are not similar,441.522932,335.307163,20.000000,NaN
0,L Fundacion de Machala,NaN,Reject H0,A/B groups are not similar,319.327720,297.145093,17.500000,NaN
0,L Fundacion de Manta,NaN,Reject H0,A/B groups are not similar,76.551939,121.738206,0.000000,NaN
0,L Fundacion de Quito,NaN,Reject H0,A/B groups are not similar,698.059696,547.665628,33.000000,NaN
0,L Fundacion de Riobamba,NaN,Reject H0,A/B groups are not similar,181.692697,202.949716,2.000000,NaN
0,L Fundacion de Santo Domingo,NaN,Reject H0,A/B groups are not similar,244.302958,211.548904,5.000000,NaN
0,L Independencia de Ambato,NaN,Reject H0,A/B groups are not similar,359.330708,357.583876,23.113501,NaN
0,L Independencia de Guaranda,NaN,Reject H0,A/B groups are not similar,213.271197,231.574811,6.000000,NaN
0,L Independencia de Latacunga,NaN,Reject H0,A/B groups are not similar,170.469114,188.943694,8.500000,NaN

In [ ]:
def AB_test_local_holidays_mw(dataframe, group, target):

    s=local_holidays2["name"]
    city=local_holidays["L "+s ==group].city.values[0]
    #splitting groups
    groupA=dataframe[(dataframe["city"]==city)&(dataframe[group]==1)&(dataframe["national_holidays"]==0)&(dataframe["regional_holidays"]==0)][target] #holiday
    groupB=dataframe[(dataframe["city"]==city)&(dataframe[group]==0)&(dataframe["national_holidays"]==0)&(dataframe["regional_holidays"]==0)][target] #not holiday

    print(group)
    print("groupA ", groupA.shape)
    print("groupB ", groupB.shape)
    

    #checking distributin of groups using shapiro 
    #H0: distribution is normal
    if groupA.empty or groupB.empty:
        AB = pd.DataFrame(columns=["Feature", "p-value", "Test", "Hypothesis", "Comment", 
                                    "GroupA_mean", "GroupB_mean", "GroupA_median", "GroupB_median"])
        return AB
    pA=shapiro(groupA)[1]
    pB=shapiro(groupB)[1]

    if (pA >=0.05) & (pB>=0.05):
        #both are normally distributed so we use parametric test

        #checking homogeneity of variances using levene test
        #H0: there is homogeneity of variances
        leveneTest_p = stats.levene(groupA, groupB)[1]

        if leveneTest_p<0.05:
            #heterogeneous

            #t test
            #H0: M1 == M2
            p=stats.ttest_ind(groupA, groupB, equal_var=False)[1]
        else:
            #homogeneity

            #ttest
            #H0:M1==M2
            p=stats.ttest_ind(groupA, groupB, equal_var=True)[1]
    else:
        #non-parametric test

        #Mann-Whitney U test
        # H0: M1 == M2
        p=stats.mannwhitneyu(groupA, groupB)[1]

    group = [group]
    p = [p]
    pA = [pA]
    pB = [pB]

    AB = pd.DataFrame({
    "Feature": group,
    "p-value": p,
    "Test": np.where((np.array(pA) == False) & (np.array(pB) == False), "t-Test (p)", "Mann-Whitney U (nonp)"),
    "Hypothesis": np.where(np.array(p) >= 0.05, "Fail to Reject H0", "Reject H0"),
    "Comment": np.where(np.array(p) >= 0.05, "A/B groups are similar", "A/B groups are not similar"),
    "GroupA_mean": np.mean(groupA),
    "GroupB_mean": np.mean(groupB),
    "GroupA_median": np.median(groupA),
    "GroupB_median": np.median(groupB)
    })
    return AB

In [ ]:
cols =train2.columns[train2.columns.str.startswith("L ")].tolist()
ab_loc2 = []
for i in cols:
    ab_loc2.append(AB_test_local_holidays_mw(dataframe=train2, group = i, target = "sales"))
ab_loc2 = pd.concat(ab_loc2)
ab_loc2

L Cantonizacion de Cayambe
groupA  (165,)
groupB  (51084,)

c:\Users\Snezana\anaconda3\Lib\site-packages\scipy\stats\_morestats.py:1882: UserWarning: p-value may not be accurate for N > 5000.
  warnings.warn("p-value may not be accurate for N > 5000.")

L Cantonizacion de El Carmen
groupA  (165,)
groupB  (51084,)
L Cantonizacion de Guaranda
groupA  (165,)
groupB  (51084,)

L Cantonizacion de Latacunga
groupA  (264,)
groupB  (101904,)
L Cantonizacion de Libertad
groupA  (132,)
groupB  (51117,)
L Cantonizacion de Quevedo
groupA  (132,)
groupB  (51117,)
L Cantonizacion de Riobamba
groupA  (132,)
groupB  (51117,)
L Cantonizacion de Salinas
groupA  (0,)
groupB  (51117,)
L Cantonizacion del Puyo
groupA  (99,)
groupB  (51150,)

c:\Users\Snezana\anaconda3\Lib\site-packages\scipy\stats\_morestats.py:1882: UserWarning: p-value may not be accurate for N > 5000.
  warnings.warn("p-value may not be accurate for N > 5000.")

L Fundacion de Ambato
groupA  (264,)
groupB  (102234,)
L Fundacion de Cuenca
groupA  (495,)
groupB  (153252,)
L Fundacion de Esmeraldas
groupA  (165,)
groupB  (51084,)
L Fundacion de Guayaquil
groupA  (2376,)
groupB  (407616,)
L Fundacion de Ibarra
groupA  (132,)
groupB  (50985,)
L Fundacion de Loja
groupA  (132,)
groupB  (51117,)
L Fundacion de Machala
groupA  (264,)
groupB  (102234,)
L Fundacion de Manta
groupA  (330,)
groupB  (102168,)
L Fundacion de Quito
groupA  (4752,)
groupB  (917730,)
L Fundacion de Riobamba
groupA  (165,)
groupB  (51084,)
L Fundacion de Santo Domingo
groupA  (495,)
groupB  (152856,)
L Independencia de Ambato
groupA  (264,)
groupB  (102234,)
L Independencia de Guaranda
groupA  (132,)
groupB  (51117,)
L Independencia de Latacunga
groupA  (264,)
groupB  (101904,)

,Feature,p-value,Test,Hypothesis,Comment,GroupA_mean,GroupB_mean,GroupA_median,GroupB_median
0,L Cantonizacion de Cayambe,3.800485e-01,Mann-Whitney U (nonp),Fail to Reject H0,A/B groups are similar,445.602558,503.840132,23.000000,15.0
0,L Cantonizacion de El Carmen,7.610964e-01,Mann-Whitney U (nonp),Fail to Reject H0,A/B groups are similar,214.438109,196.498199,9.000000,6.0
0,L Cantonizacion de Guaranda,5.002666e-01,Mann-Whitney U (nonp),Fail to Reject H0,A/B groups are similar,178.015915,231.550912,6.000000,8.0
0,L Cantonizacion de Latacunga,1.112805e-01,Mann-Whitney U (nonp),Fail to Reject H0,A/B groups are similar,192.490970,188.764269,11.000000,6.0
0,L Cantonizacion de Libertad,1.059439e-03,Mann-Whitney U (nonp),Reject H0,A/B groups are not similar,180.356318,270.480139,0.000000,5.0
0,L Cantonizacion de Quevedo,5.904379e-01,Mann-Whitney U (nonp),Fail to Reject H0,A/B groups are similar,200.778636,252.130131,9.000000,9.0
0,L Cantonizacion de Riobamba,3.201984e-01,Mann-Whitney U (nonp),Fail to Reject H0,A/B groups are similar,171.422417,202.831494,4.000000,6.0
0,L Cantonizacion del Puyo,2.959183e-01,Mann-Whitney U (nonp),Fail to Reject H0,A/B groups are similar,56.501323,70.698262,0.000000,0.0
0,L Fundacion de Ambato,6.078569e-01,Mann-Whitney U (nonp),Fail to Reject H0,A/B groups are similar,325.854186,357.439475,19.500000,21.0
0,L Fundacion de Cuenca,1.776302e-01,Mann-Whitney U (nonp),Fail to Reject H0,A/B groups are similar,263.715962,292.431594,6.000000,8.0
0,L Fundacion de Esmeraldas,6.559977e-01,Mann-Whitney U (nonp),Fail to Reject H0,A/B groups are similar,313.340643,291.330906,9.000000,7.0
0,L Fundacion de Guayaquil,1.468686e-01,t-Test (p),Fail to Reject H0,A/B groups are similar,262.498395,272.801651,8.000000,7.0
0,L Fundacion de Ibarra,9.575617e-01,Mann-Whitney U (nonp),Fail to Reject H0,A/B groups are similar,217.995348,204.913850,6.000000,8.0
0,L Fundacion de Loja,4.662235e-01,Mann-Whitney U (nonp),Fail to Reject H0,A/B groups are similar,441.522932,335.090696,20.000000,22.0
0,L Fundacion de Machala,1.862484e-01,Mann-Whitney U (nonp),Fail to Reject H0,A/B groups are similar,319.327720,296.953262,17.500000,13.0
0,L Fundacion de Manta,2.028012e-03,Mann-Whitney U (nonp),Reject H0,A/B groups are not similar,76.551939,121.659564,0.000000,0.0
0,L Fundacion de Quito,9.900056e-12,t-Test (p),Reject H0,A/B groups are not similar,698.059696,547.311152,33.000000,24.0
0,L Fundacion de Riobamba,2.707051e-02,Mann-Whitney U (nonp),Reject H0,A/B groups are not similar,181.692697,202.818611,2.000000,6.0
0,L Fundacion de Santo Domingo,2.421336e-01,Mann-Whitney U (nonp),Fail to Reject H0,A/B groups are similar,244.302958,211.411890,5.000000,4.0
0,L Independencia de Ambato,4.336261e-01,Mann-Whitney U (nonp),Fail to Reject H0,A/B groups are similar,359.330708,357.353028,23.113501,21.0
0,L Independencia de Guaranda,9.922773e-01,Mann-Whitney U (nonp),Fail to Reject H0,A/B groups are similar,213.271197,231.425311,6.000000,8.0
0,L Independencia de Latacunga,6.438698e-01,Mann-Whitney U (nonp),Fail to Reject H0,A/B groups are similar,170.469114,188.821321,8.500000,6.0

In [ ]:
def AB_test_regional_holidays(dataframe, group, target):

    s=regional_holidays2["name"]
    state=regional_holidays2["R "+s==group].state.values[0]
    #splitting groups
    groupA=dataframe[(dataframe["state"]==state)&(dataframe[group]==1)&(dataframe["national_holidays"]==0)][target] #holiday
    groupB=dataframe[(dataframe["state"]==state)&(dataframe[group]==0)&(dataframe["national_holidays"]==0)][target] #not holiday


    # checking distributin of groups using shapiro 
    # H0: distribution is normal
    # pA=shapiro(groupA)[1]
    # pB=shapiro(groupB)[1]

    # if (pA >=0.05) & (pB>=0.05):
    #     both are normally distributed so we use parametric test

    # checking homogeneity of variances using levene test
    # H0: there is homogeneity of variances
    leveneTest_p = stats.levene(groupA, groupB)[1]

    if leveneTest_p<0.05:
        #heterogeneous

        #t test
        #H0: M1 == M2
        p=stats.ttest_ind(groupA, groupB, equal_var=False)[1]
    else:
        #homogeneity

        #ttest
        #H0:M1==M2
        p=stats.ttest_ind(groupA, groupB, equal_var=True)[1]
    # else:
    #     #non-parametric test

    #     #Mann-Whitney U test
    #     # H0: M1 == M2
    #     p=stats.mannwhitneyu(groupA, groupB)[1]

    group = [group]
    p = [p]
    # pA = [pA]
    # pB = [pB]

    AB = pd.DataFrame({
    "Feature": group,
    "p-value": p,
    #"Test": np.where((np.array(pA) == False) & (np.array(pB) == False), "t-Test (p)", "Mann-Whitney U (nonp)"),
    "Hypothesis": np.where(np.array(p) >= 0.05, "Fail to Reject H0", "Reject H0"),
    "Comment": np.where(np.array(p) >= 0.05, "A/B groups are similar", "A/B groups are not similar"),
    "GroupA_mean": np.mean(groupA),
    "GroupB_mean": np.mean(groupB),
    "GroupA_median": np.median(groupA),
    "GroupB_median": np.median(groupB)
    })
    return AB

In [ ]:
cols =train2.columns[train2.columns.str.startswith("R ")].tolist()
ab_loc3 = []
for i in cols:
    ab_loc3.append(AB_test_regional_holidays(dataframe=train2, group = i, target = "sales"))
ab_loc3 = pd.concat(ab_loc3)
ab_loc3

,Feature,p-value,Hypothesis,Comment,GroupA_mean,GroupB_mean,GroupA_median,GroupB_median
0,R Provincializacion Santa Elena,0.760146,Fail to Reject H0,A/B groups are similar,182.504114,196.546649,10.5,8.0
0,R Provincializacion de Cotopaxi,0.121943,Fail to Reject H0,A/B groups are similar,234.051215,188.773899,5.0,6.0
0,R Provincializacion de Imbabura,0.758337,Fail to Reject H0,A/B groups are similar,190.604439,204.947631,11.5,8.0
0,R Provincializacion de Santo Domingo,0.084198,Fail to Reject H0,A/B groups are similar,264.017609,211.518059,6.0,4.0

In [ ]:
regional_holidays2.head()

,date,state,name,regional_holidays
0,2012-04-01,Cotopaxi,Provincializacion de Cotopaxi,1
1,2012-06-25,Imbabura,Provincializacion de Imbabura,1
2,2012-11-06,Santo Domingo de los Tsachilas,Provincializacion de Santo Domingo,1
3,2012-11-07,Santa Elena,Provincializacion Santa Elena,1
4,2013-04-01,Cotopaxi,Provincializacion de Cotopaxi,1

In [ ]:
pd.set_option("display.max_columns",None)

In [ ]:
def AB_test_national_holidays(dataframe, group, target):

    #splitting groups
    groupA=dataframe[(dataframe[group]==1)][target] #holiday
    groupB=dataframe[(dataframe[group]==0)&(dataframe["national_holidays"]==0)][target] #not holiday


    # checking distributin of groups using shapiro 
    # H0: distribution is normal
    # pA=shapiro(groupA)[1]
    # pB=shapiro(groupB)[1]

    # if (pA >=0.05) & (pB>=0.05):
    #     both are normally distributed so we use parametric test

    # checking homogeneity of variances using levene test
    # H0: there is homogeneity of variances
    leveneTest_p = stats.levene(groupA, groupB)[1]

    if leveneTest_p<0.05:
        #heterogeneous

        #t test
        #H0: M1 == M2
        p=stats.ttest_ind(groupA, groupB, equal_var=False)[1]
    else:
        #homogeneity

        #ttest
        #H0:M1==M2
        p=stats.ttest_ind(groupA, groupB, equal_var=True)[1]
    # else:
    #     #non-parametric test

    #     #Mann-Whitney U test
    #     # H0: M1 == M2
    #     p=stats.mannwhitneyu(groupA, groupB)[1]

    group = [group]
    p = [p]
    # pA = [pA]
    # pB = [pB]

    AB = pd.DataFrame({
    "Feature": group,
    "p-value": p,
    #"Test": np.where((np.array(pA) == False) & (np.array(pB) == False), "t-Test (p)", "Mann-Whitney U (nonp)"),
    "Hypothesis": np.where(np.array(p) >= 0.05, "Fail to Reject H0", "Reject H0"),
    "Comment": np.where(np.array(p) >= 0.05, "A/B groups are similar", "A/B groups are not similar"),
    "GroupA_mean": np.mean(groupA),
    "GroupB_mean": np.mean(groupB),
    "GroupA_median": np.median(groupA),
    "GroupB_median": np.median(groupB)
    })
    return AB

In [ ]:
cols =train2.columns[train2.columns.str.startswith("N ")].tolist()
ab_loc4 = []
for i in cols:
    ab_loc4.append(AB_test_national_holidays(dataframe=train2, group = i, target = "sales"))
ab_loc4 = pd.concat(ab_loc4)
ab_loc4

,Feature,p-value,Hypothesis,Comment,GroupA_mean,GroupB_mean,GroupA_median,GroupB_median
0,N Batalla de Pichincha,1.648835e-03,Reject H0,A/B groups are not similar,391.726745,352.430783,12.0,11.0
0,N Black Friday,4.591238e-01,Fail to Reject H0,A/B groups are similar,363.360708,352.430783,17.0,11.0
0,N Carnaval,1.385534e-02,Reject H0,A/B groups are not similar,332.882573,352.430783,10.0,11.0
0,N Cyber Monday,1.232701e-06,Reject H0,A/B groups are not similar,436.220250,352.430783,17.0,11.0
0,N Dia de Difuntos,1.133768e-08,Reject H0,A/B groups are not similar,431.034644,352.430783,16.0,11.0
0,N Dia de la Madre,4.678908e-07,Reject H0,A/B groups are not similar,397.836026,352.430783,13.0,11.0
0,N Dia del Trabajo,5.764254e-15,Reject H0,A/B groups are not similar,481.446180,352.430783,13.0,11.0
0,N Futbol,6.612585e-12,Reject H0,A/B groups are not similar,310.965144,352.430783,5.0,11.0
0,N Independencia de Cuenca,8.240484e-13,Reject H0,A/B groups are not similar,477.446607,352.430783,13.0,11.0
0,N Independencia de Guayaquil,6.530250e-07,Reject H0,A/B groups are not similar,430.354990,352.430783,16.0,11.0
0,N Navidad,5.468706e-50,Reject H0,A/B groups are not similar,457.216788,352.430783,7.0,11.0
0,N Primer Grito de Independencia,1.138596e-01,Fail to Reject H0,A/B groups are similar,370.525350,352.430783,13.0,11.0
0,N Primer dia del ano,1.253743e-06,Reject H0,A/B groups are not similar,310.083611,352.430783,0.0,11.0
0,N Terremoto Manabi,2.673162e-91,Reject H0,A/B groups are not similar,494.904072,352.430783,23.0,11.0
0,N Viernes Santo,2.453431e-10,Reject H0,A/B groups are not similar,292.693438,352.430783,9.0,11.0

In [ ]:
holidays_to_keep=["N Batalla de Pichincha","N Carnaval","N Cyber Monday","N Dia de Difuntos","N Dia de la Madre","N Dia del Trabajo","N Futbol","N Independencia de Cuenca","N Independencia de Guayaquil","N Navidad","N Primer dia del ano","N Terremoto Manabi","N Viernes Santo"]

In [ ]:
cols_to_drop = df2.columns[df2.columns.str.startswith("L ")].tolist() + df2.columns[df2.columns.str.startswith("R ")].tolist() #loc and reg
cols_to_drop += [col for col in df2.columns if col.startswith("N ") and col not in holidays_to_keep]

df2_filtered = df2.drop(columns=cols_to_drop)

In [ ]:
df2_filtered.head()

,date,store_nbr,family,sales,onpromotion,city,state,type,cluster,work_day,...,N Independencia de Guayaquil,N Navidad,N Primer dia del ano,N Terremoto Manabi,N Viernes Santo,oil_price,transactions,local_holidays,regional_holidays,national_holidays
0,2013-01-01,1,AUTOMOTIVE,0.0,0.0,Quito,Pichincha,D,13,0,...,0,0,1,0,0,93.14,0.0,0,0,1
1,2013-01-01,1,BABY CARE,0.0,0.0,Quito,Pichincha,D,13,0,...,0,0,1,0,0,93.14,0.0,0,0,1
2,2013-01-01,1,BEAUTY,0.0,0.0,Quito,Pichincha,D,13,0,...,0,0,1,0,0,93.14,0.0,0,0,1
3,2013-01-01,1,BEVERAGES,0.0,0.0,Quito,Pichincha,D,13,0,...,0,0,1,0,0,93.14,0.0,0,0,1
4,2013-01-01,1,BOOKS,0.0,0.0,Quito,Pichincha,D,13,0,...,0,0,1,0,0,93.14,0.0,0,0,1

In [ ]:
df2_filtered.to_csv(r"novi_datasetovi\train_test_v4.csv", index=False)