In [44]:
import numpy as np
import pandas as pd

In [85]:
df=pd.read_csv(r'novi_datasetovi\train_test_v4.csv', parse_dates=['date'])
df.head()

,date,store_nbr,family,sales,onpromotion,city,state,type,cluster,work_day,N Batalla de Pichincha,N Carnaval,N Cyber Monday,N Dia de Difuntos,N Dia de la Madre,N Dia del Trabajo,N Futbol,N Independencia de Cuenca,N Independencia de Guayaquil,N Navidad,N Primer dia del ano,N Terremoto Manabi,N Viernes Santo,oil_price,transactions,local_holidays,regional_holidays,national_holidays
0,2013-01-01,1,AUTOMOTIVE,0.0,0.0,Quito,Pichincha,D,13,0,0,0,0,0,0,0,0,0,0,0,1,0,0,93.14,0.0,0,0,1
1,2013-01-01,1,BABY CARE,0.0,0.0,Quito,Pichincha,D,13,0,0,0,0,0,0,0,0,0,0,0,1,0,0,93.14,0.0,0,0,1
2,2013-01-01,1,BEAUTY,0.0,0.0,Quito,Pichincha,D,13,0,0,0,0,0,0,0,0,0,0,0,1,0,0,93.14,0.0,0,0,1
3,2013-01-01,1,BEVERAGES,0.0,0.0,Quito,Pichincha,D,13,0,0,0,0,0,0,0,0,0,0,0,1,0,0,93.14,0.0,0,0,1
4,2013-01-01,1,BOOKS,0.0,0.0,Quito,Pichincha,D,13,0,0,0,0,0,0,0,0,0,0,0,1,0,0,93.14,0.0,0,0,1

In [86]:
df_wide=pd.pivot(df, index='date', columns=['store_nbr', 'family'], values='sales')
df_oil_wide=pd.pivot(df, index='date', columns=['store_nbr', 'family'], values='oil_price')

In [74]:
train=df[df['date']<'2017-08-16']
test=df[df['date']>= '2017-08-16']

In [47]:
#16, 17, 18, 19, 20, 30, 365, 730
def create_lag_features(ts: pd.Series, lags: int):
    return pd.concat(
        {
            f'y_lag_{i}': ts.shift(i)
            for i in range(1, lags + 1)
        },
        axis=1)

In [87]:
def create_lag_features2(ts: pd.Series, lags: int):
    return pd.concat(
        {
            f'y_lag_{i}': ts.shift(i)
            for i in range(lags, lags + 1)
        },
        axis=1)

In [49]:
def create_one_lag_feature(ts: pd.Series, lag: int):
    return ts.shift(lag)

In [91]:
def write_lag(lags :int):
    global df 
    
    lag_wide = pd.DataFrame()
    for col in df_wide.columns:
        lag_features = create_lag_features2(df_wide[col], lags=lags)
        lag_wide = pd.concat([lag_wide, lag_features.add_prefix(f"{col}")], axis=1)
    lag_long = lag_wide.melt(value_name=f'lag_{lags}', ignore_index=False).reset_index()
    lag_long_parsed = lag_long.copy()
    lag_long_parsed['store_nbr'] = lag_long_parsed['variable'].str.extract(r"\((\d+),")[0] 
    lag_long_parsed['family'] = lag_long_parsed['variable'].str.extract(r"'([^']*)'")
    lag_long_parsed=lag_long_parsed.drop(columns=['variable'])
    lag_long_parsed['store_nbr'] = lag_long_parsed['store_nbr'].astype(int)
    df=df.merge(lag_long_parsed, how='left', on=['date', 'store_nbr', 'family'])
    lag_long_parsed.to_csv(f'lag_{lags}.csv', index=False)

In [92]:
def write_oil_lag(lags :int):
    global df 
    
    lag_wide = pd.DataFrame()
    for col in df_oil_wide.columns:
        lag_features = create_lag_features2(df_oil_wide[col], lags=lags)
        lag_wide = pd.concat([lag_wide, lag_features.add_prefix(f"{col}")], axis=1)
    lag_long = lag_wide.melt(value_name=f'lag_{lags}', ignore_index=False).reset_index()
    lag_long_parsed = lag_long.copy()
    lag_long_parsed['store_nbr'] = lag_long_parsed['variable'].str.extract(r"\((\d+),")[0] 
    lag_long_parsed['family'] = lag_long_parsed['variable'].str.extract(r"'([^']*)'")
    lag_long_parsed=lag_long_parsed.drop(columns=['variable'])
    lag_long_parsed['store_nbr'] = lag_long_parsed['store_nbr'].astype(int)
    df=df.merge(lag_long_parsed, how='left', on=['date', 'store_nbr', 'family'])
    lag_long_parsed.to_csv(f'oil_lag_{lags}.csv', index=False)

In [52]:
train_wide=pd.pivot(train, index='date', columns=['store_nbr','family'], values='sales')
train_wide.head()

store_nbr          1                                                 \
family     AUTOMOTIVE BABY CARE BEAUTY BEVERAGES BOOKS BREAD/BAKERY
date
2013-01-01        0.0       0.0    0.0       0.0   0.0        0.000
2013-01-02        2.0       0.0    2.0    1091.0   0.0      470.652
2013-01-03        3.0       0.0    0.0     919.0   0.0      310.655
2013-01-04        3.0       0.0    3.0     953.0   0.0      198.366
2013-01-05        5.0       0.0    3.0    1160.0   0.0      301.057

store_nbr                                        ...        54          \
family     CELEBRATION CLEANING  DAIRY     DELI  ... MAGAZINES   MEATS
date                                             ...
2013-01-01         0.0      0.0    0.0    0.000  ...       0.0   0.000
2013-01-02         0.0   1060.0  579.0  164.069  ...       0.0  73.771
2013-01-03         0.0    836.0  453.0  151.582  ...       0.0  50.257
2013-01-04         0.0    827.0  460.0  131.411  ...       0.0  40.223
2013-01-05         0.0    811.0  464.0  118.613  ...       0.0  43.431

store_nbr                                                              \
family     PERSONAL CARE PET SUPPLIES PLAYERS AND ELECTRONICS POULTRY
date
2013-01-01           0.0          0.0                     0.0   0.000
2013-01-02         228.0          0.0                     0.0  15.514
2013-01-03         156.0          0.0                     0.0   4.313
2013-01-04         146.0          0.0                     0.0  26.743
2013-01-05         205.0          0.0                     0.0  31.118

store_nbr
family     PREPARED FOODS PRODUCE SCHOOL AND OFFICE SUPPLIES SEAFOOD
date
2013-01-01            0.0     0.0                        0.0     0.0
2013-01-02           61.0     0.0                        0.0     3.0
2013-01-03            1.0     0.0                        0.0     2.0
2013-01-04           38.0     0.0                        0.0     2.0
2013-01-05           32.0     0.0                        0.0     1.0

[5 rows x 1782 columns]

In [93]:
for i in [16, 17, 18, 19, 20, 30, 365, 730]:
    write_lag(i)

In [54]:
train_wide2=pd.pivot(train, index='date', columns=['store_nbr','family'], values='oil_price')
train_wide2.head()

store_nbr          1                                               \
family     AUTOMOTIVE  BABY CARE     BEAUTY  BEVERAGES      BOOKS
date
2013-01-01  93.140000  93.140000  93.140000  93.140000  93.140000
2013-01-02  93.140000  93.140000  93.140000  93.140000  93.140000
2013-01-03  92.970000  92.970000  92.970000  92.970000  92.970000
2013-01-04  93.120000  93.120000  93.120000  93.120000  93.120000
2013-01-05  93.146667  93.146667  93.146667  93.146667  93.146667

store_nbr                                                             ...  \
family     BREAD/BAKERY CELEBRATION   CLEANING      DAIRY       DELI  ...
date                                                                  ...
2013-01-01    93.140000   93.140000  93.140000  93.140000  93.140000  ...
2013-01-02    93.140000   93.140000  93.140000  93.140000  93.140000  ...
2013-01-03    92.970000   92.970000  92.970000  92.970000  92.970000  ...
2013-01-04    93.120000   93.120000  93.120000  93.120000  93.120000  ...
2013-01-05    93.146667   93.146667  93.146667  93.146667  93.146667  ...

store_nbr          54                                        \
family      MAGAZINES      MEATS PERSONAL CARE PET SUPPLIES
date
2013-01-01  93.140000  93.140000     93.140000    93.140000
2013-01-02  93.140000  93.140000     93.140000    93.140000
2013-01-03  92.970000  92.970000     92.970000    92.970000
2013-01-04  93.120000  93.120000     93.120000    93.120000
2013-01-05  93.146667  93.146667     93.146667    93.146667

store_nbr                                                                \
family     PLAYERS AND ELECTRONICS    POULTRY PREPARED FOODS    PRODUCE
date
2013-01-01               93.140000  93.140000      93.140000  93.140000
2013-01-02               93.140000  93.140000      93.140000  93.140000
2013-01-03               92.970000  92.970000      92.970000  92.970000
2013-01-04               93.120000  93.120000      93.120000  93.120000
2013-01-05               93.146667  93.146667      93.146667  93.146667

store_nbr
family     SCHOOL AND OFFICE SUPPLIES    SEAFOOD
date
2013-01-01                  93.140000  93.140000
2013-01-02                  93.140000  93.140000
2013-01-03                  92.970000  92.970000
2013-01-04                  93.120000  93.120000
2013-01-05                  93.146667  93.146667

[5 rows x 1782 columns]

In [96]:
for i in [16, 17, 18, 19, 20, 30, 365, 730]:
    write_oil_lag(i)

In [97]:
df.head()

,date,store_nbr,family,sales,onpromotion,city,state,type,cluster,work_day,N Batalla de Pichincha,N Carnaval,N Cyber Monday,N Dia de Difuntos,N Dia de la Madre,N Dia del Trabajo,N Futbol,N Independencia de Cuenca,N Independencia de Guayaquil,N Navidad,N Primer dia del ano,N Terremoto Manabi,N Viernes Santo,oil_price,transactions,local_holidays,regional_holidays,national_holidays,lag_16_x,lag_17_x,lag_18_x,lag_19_x,lag_20_x,lag_30_x,lag_365_x,lag_730_x,lag_16_y,lag_17_y,lag_18_y,lag_19_y,lag_20_y,lag_30_y,lag_365_y,lag_730_y
0,2013-01-01,1,AUTOMOTIVE,0.0,0.0,Quito,Pichincha,D,13,0,0,0,0,0,0,0,0,0,0,0,1,0,0,93.14,0.0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2013-01-01,1,BABY CARE,0.0,0.0,Quito,Pichincha,D,13,0,0,0,0,0,0,0,0,0,0,0,1,0,0,93.14,0.0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2013-01-01,1,BEAUTY,0.0,0.0,Quito,Pichincha,D,13,0,0,0,0,0,0,0,0,0,0,0,1,0,0,93.14,0.0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2013-01-01,1,BEVERAGES,0.0,0.0,Quito,Pichincha,D,13,0,0,0,0,0,0,0,0,0,0,0,1,0,0,93.14,0.0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2013-01-01,1,BOOKS,0.0,0.0,Quito,Pichincha,D,13,0,0,0,0,0,0,0,0,0,0,0,1,0,0,93.14,0.0,0,0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [98]:
df.to_csv(r'lag_so.csv',index=False)

In [71]:
pd.set_option('display.max_columns', None)
with_lags=pd.read_csv(r'lag.csv', parse_dates=['date'])
with_lags.head()

,date,store_nbr,family,sales,onpromotion,city,state,type,cluster,work_day,N Batalla de Pichincha,N Carnaval,N Cyber Monday,N Dia de Difuntos,N Dia de la Madre,N Dia del Trabajo,N Futbol,N Independencia de Cuenca,N Independencia de Guayaquil,N Navidad,N Primer dia del ano,N Terremoto Manabi,N Viernes Santo,oil_price,transactions,local_holidays,regional_holidays,national_holidays
0,2013-01-01,1,AUTOMOTIVE,0.0,0.0,Quito,Pichincha,D,13,0,0,0,0,0,0,0,0,0,0,0,1,0,0,93.14,0.0,0,0,1
1,2013-01-01,1,BABY CARE,0.0,0.0,Quito,Pichincha,D,13,0,0,0,0,0,0,0,0,0,0,0,1,0,0,93.14,0.0,0,0,1
2,2013-01-01,1,BEAUTY,0.0,0.0,Quito,Pichincha,D,13,0,0,0,0,0,0,0,0,0,0,0,1,0,0,93.14,0.0,0,0,1
3,2013-01-01,1,BEVERAGES,0.0,0.0,Quito,Pichincha,D,13,0,0,0,0,0,0,0,0,0,0,0,1,0,0,93.14,0.0,0,0,1
4,2013-01-01,1,BOOKS,0.0,0.0,Quito,Pichincha,D,13,0,0,0,0,0,0,0,0,0,0,0,1,0,0,93.14,0.0,0,0,1

In [75]:
lag16=pd.read_csv(r'lag_16.csv', parse_dates=['date'])
print(lag16.dtypes)
lag16.head()

date         datetime64[ns]
lag_16              float64
store_nbr             int64
family               object
dtype: object

        date  lag_16  store_nbr      family
0 2013-01-01     NaN          1  AUTOMOTIVE
1 2013-01-02     NaN          1  AUTOMOTIVE
2 2013-01-03     NaN          1  AUTOMOTIVE
3 2013-01-04     NaN          1  AUTOMOTIVE
4 2013-01-05     NaN          1  AUTOMOTIVE

In [77]:
train.merge(lag16, how='left', on=['date', 'store_nbr', 'family'])

,date,store_nbr,family,sales,onpromotion,city,state,type,cluster,work_day,N Batalla de Pichincha,N Carnaval,N Cyber Monday,N Dia de Difuntos,N Dia de la Madre,N Dia del Trabajo,N Futbol,N Independencia de Cuenca,N Independencia de Guayaquil,N Navidad,N Primer dia del ano,N Terremoto Manabi,N Viernes Santo,oil_price,transactions,local_holidays,regional_holidays,national_holidays,lag_16
0,2013-01-01,1,AUTOMOTIVE,0.000,0.0,Quito,Pichincha,D,13,0,0,0,0,0,0,0,0,0,0,0,1,0,0,93.14,0.0,0,0,1,NaN
1,2013-01-01,1,BABY CARE,0.000,0.0,Quito,Pichincha,D,13,0,0,0,0,0,0,0,0,0,0,0,1,0,0,93.14,0.0,0,0,1,NaN
2,2013-01-01,1,BEAUTY,0.000,0.0,Quito,Pichincha,D,13,0,0,0,0,0,0,0,0,0,0,0,1,0,0,93.14,0.0,0,0,1,NaN
3,2013-01-01,1,BEVERAGES,0.000,0.0,Quito,Pichincha,D,13,0,0,0,0,0,0,0,0,0,0,0,1,0,0,93.14,0.0,0,0,1,NaN
4,2013-01-01,1,BOOKS,0.000,0.0,Quito,Pichincha,D,13,0,0,0,0,0,0,0,0,0,0,0,1,0,0,93.14,0.0,0,0,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3008011,2017-08-15,54,POULTRY,59.619,0.0,El Carmen,Manabi,C,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,47.57,802.0,0,0,0,72.895996
3008012,2017-08-15,54,PREPARED FOODS,94.000,0.0,El Carmen,Manabi,C,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,47.57,802.0,0,0,0,124.000000
3008013,2017-08-15,54,PRODUCE,915.371,76.0,El Carmen,Manabi,C,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,47.57,802.0,0,0,0,793.147000
3008014,2017-08-15,54,SCHOOL AND OFFICE SUPPLIES,0.000,0.0,El Carmen,Manabi,C,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,47.57,802.0,0,0,0,0.000000
3008015,2017-08-15,54,SEAFOOD,3.000,0.0,El Carmen,Manabi,C,3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,47.57,802.0,0,0,0,4.000000